extends layout

block content
  .container-fluid
    .invoices-list
      each val, index in allInvoices
        div
          a.invoice-detail(href="/invoice/show/" + val.id) #{val.title} #{val.created_at}
    .invoice-info
      if _.size(curr_invoice)
        div
          span title
          span(style="margin-left: 10px;")= curr_invoice.title
        div
          span total
          span(style="margin-left: 10px;")= curr_invoice.total
      if _.size(invoiceInfo)
        each val, index in invoiceInfo
          div
            span= val.name
            span(style="margin-left: 10px;")= val.cost
      else
        div